version: "3.3"

services:

  project_redis_vector_db:
    image: redis/redis-stack-server:latest
    expose:
      - 6379    

    env_file:
      - .env-vector-db.yaml
      - .env-common.yaml

    volumes:
      - "./redis-datastore:/data"     
      - ./redis.conf:/usr/local/etc/redis/redis.conf

    healthcheck:
      test: ["CMD", "redis-cli", "-h", "localhost", "-p", "6379", "ping"]
      interval: 2s
      timeout: 1m30s
      retries: 5
      start_period: 5s


  backend_db:
    restart: always
    image: postgres:alpine
    env_file:
      - .env-db.yaml
      - .env-common.yaml
      - .env-vector-db.yaml
    expose:
      - 5432

  project_redis_channels:
    restart: always
    image: redis:alpine
    env_file:
      - .env-db.yaml
      - .env-redis-channels.yaml
      - .env-common.yaml
    expose:
      - 6379
    depends_on:
      - backend_db

  project_redis_cache:
    restart: always
    image: redis:alpine
    env_file:
      - .env-db.yaml
      - .env-redis-cache.yaml
      - .env-common.yaml
    expose:
      - 6379
    depends_on:
      - backend_db

  project_redis_queue:
    restart: always
    image: redis:alpine
    env_file:
      - .env-redis-queue.yaml
      - .env-common.yaml
    expose:
      - 6379
    depends_on:
      - backend_db

  chat_gpt_api:
    restart: always
    tty: true
    volumes:
      - "./chat_gpt_api/:/home/chat_gpt_api/"

    build:
      context: ./project_docker
      dockerfile: Dockerfile
    command: bash -c /home/chat_gpt_api/entrypoint.sh
    expose:
      - 8001
      - 8002
      - 8003

    env_file:
      - .env-db.yaml
      - .env-api.yaml
      - .env-vector-db.yaml
      - .env-redis-channels.yaml
      - .env-redis-queue.yaml
      - .env-redis-cache.yaml
      - .env-common.yaml
      - .env-nginx.yaml

    depends_on:
      - backend_db
      - project_redis_channels
      - project_redis_cache
      - project_redis_queue
      - project_redis_vector_db

  nginx_static_server:
    restart: always
    build:
      context: ./nginx_server
      dockerfile: Dockerfile

    env_file:
      - .env-nginx.yaml
      - .env-common.yaml
      - .env-api.yaml
      - .env-redis-channels.yaml
      - .env-redis-queue.yaml
      - .env-redis-cache.yaml
      - .env-vector-db.yaml

    volumes:
      - "./chat_gpt_api/:/home/chat_gpt_api/"

    ports:
      - 7072:80

    depends_on:
      - chat_gpt_api
      - backend_db
      - project_redis_channels
      - project_redis_cache
      - project_redis_queue
      - project_redis_vector_db

volumes:
  static_volume:
  media_volume:
  datastore_volume:

